.dashboard {
    display: grid;
    grid-template-columns: 214px 1fr;
    grid-template-rows: 110px 1fr;
    grid-template-areas:
      "sidebar navbar"
      "sidebar main";
    height: 100vh;
}

@media only screen and (max-width: 370px) {
 .dashboard{
   display: flex;
   flex-direction: column;
 }
}

  
  