.navbar {
  grid-area: navbar;
  background: linear-gradient(to right, red, purple);
}
@media only screen and (max-width: 370px) {
  .navbar .navbar-titulo{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }


 }
 