.sidebar {
  grid-area: sidebar;
  box-shadow: 7px 0px 8px rgba(0, 0, 0, 0.16);
  overflow: auto;
}

.active-icon {
  display: none;
}

.active-link {
  .active-icon {
    display: block;
  }

  .inactive-icon {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  .sidebar .flex{
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    justify-content: center;
  }
  .sidebar {
    padding-top: 0px;
    height: 30%;
  }
 }
 